.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #898988;
  padding: 10px;
  color: white;
  border-radius:25px;
}

.App-intro {
  font-size: large;
}

.Error {
  color:red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
